[user]
	email = rod.apd@gmail.com
	name = Rodrigo Campos
	login = rodweb
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim
	excludesfile = /home/rod/.global_ignore

[commit]
	template = ~/.gitmessage
[pull]
	rebase = true
