" source ~/.config/nvim/init.vim

set incsearch
set ignorecase
set smartcase
set scrolloff=3

set clipboard=unnamedplus,unnamed

set relativenumber
set number
set surround

let mapleader = " "
nmap ; :
nmap j jzz
nmap k kzz
nmap <leader><tab> <C-Tab>
nmap <leader>s :action FindInPath<cr>
nmap <leader>f :action GotoFile<cr>
nmap <leader>h :action RecentFiles<cr>
nmap <leader>t :action GotoSymbol<cr>
nmap <leader>p :action ShowBookmarks<cr>

nmap <leader>gb :action Back<cr>
nmap <leader>gf :action Forward<cr>
nmap <leader>w :action JumpToLastWindow<cr>
nmap <leader>gu :action FindUsages<cr>
nmap <leader>gd :action GotoDeclaration<cr>
nmap <leader>gi :action GotoImplementation<cr>
nmap <leader>gu :action FindUsages<cr>
nmap <leader>= :action ReformatWithPrettierAction<cr>
nmap ]e :action GotoNextError<cr>
nmap [e :action GotoPreviousError<cr>
nmap ]c :action VcsShowNextChangeMarker<cr>
nmap [c :action VcsShowPreviousChangeMarker<cr>

nmap <leader><space> :action AceAction<cr>
