!rofi.lines: 10
!rofi.eh: 2
!rofi.padding: 150
!rofi.fullscreen: true
rofi.bw: 0
rofi.width: 100
rofi.location: 1
rofi.lines: 5
rofi.yoffset: -2
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.color-enabled: true
!                  'background', 'border', 'separator'
rofi.color-window: #1e1e1e, #808080, #1e1e1e
! State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #1e1e1e, #d4d4d4, #1e1e1e, #569cd6, #1e1e1e 
rofi.color-active: #1e1e1e, #9cdcfe, #1e1e1e, #569cd6, #d4d4d4 
rofi.font: Hack 12

